@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  background-color: #02182c;
}

/* #root {
  padding: 2rem;
  text-align: center;
  width: 1200px;
  display: flex;
  justify-content: center;

  


} */

.home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


h1{
  margin-right: 90px;
  font-size: 25px;
}
