@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  background-color: #003366;
}

#root {
  padding: 2rem;
  text-align: center;
  width: 1200px;
  display: flex;
  justify-content: center;

  


}
.first-movie-item {
  width: 327px; /* Imposta larghezza della div */
  height: 191px;
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totale */
  overflow: hidden; /* Nasconde parti dell'immagine che escono dal contenitore */
}

.movie-image {
  width: 100%; /* Fa sì che l'immagine occupi tutta la larghezza della div */
  height: 100%; /* Fa sì che l'immagine occupi tutta l'altezza della div */
  object-fit: cover; /* Adatta l'immagine per coprire il contenitore */
  border-radius: 18px;
}


.home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
