.trending-container {
  width: 400px;
  height: 359px;
  padding: 40px;
  box-sizing: border-box;
}

.trending-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  padding: 0 20px;
}

.trending-items {
  display: flex;
  align-items: center;
}

.movie-item {
  width: 230px;
  height: 359px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.movie-image-trending {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
